{% extends 'AppBundle::page.html.twig' %}
{% block title %}
    {{ parent() }}Home
{% endblock %}
{% block content %}
<div id="homePageContainer">
    <h2>Happy hour Bordeaux</h2>
    Site en construction, KEK
</div>
    {% block javascripts %}
        {{- parent() -}}
        {% javascripts "@AppBundle/Resources/public/js/imageHover.js"  %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock %}